{% extends "base.html" %}
{% load static %}

    {% block title %}
    <title>EShopper - Favorites</title>
    {% endblock %}
    {% block contact %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Favorite products</h1>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 justify-content-center">
            <div class="col-lg-5 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for favorite in favorites %}
                        <tr>
                            <td class="align-middle"><img src="{{favorite.product.product.image.url}}" alt=""  style="width: 50px;"> {{ favorite.product.title }}</td>
                            <td class="align-middle">{{favorite.product.discounted_price}}</td>
                            <form method="post" action="{% url 'remove_favorite' favorite.id %}">
                                {% csrf_token %}
                                <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                        </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Cart End -->
    {% endblock %}