{% extends "base.html" %}
{% load static %}
    {% block title %}
    <title>EShopper - Register</title>
    {% endblock %}

    {% block contact %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Register</h1>
        </div>
    </div>
    <!-- Page Header End -->



    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Input Credentials For Register</span></h2>
        </div>
        <div class="row justify-content-center px-xl-5">
            <div class="col-lg-4 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post">
                        {% csrf_token %}
                        {% for error in form.non_field_errors%}
                            {{ error}}
                        {% endfor %}
                        <div class="control-group">
                            {% comment %} <input type="text" class="form-control" id="name" placeholder="Full name"
                                required="required" data-validation-required-message="Please enter your full name" />
                            <p class="help-block text-danger"></p> {% endcomment %}
                            {{ form.username}}
                            {{ form.username.errors}}

                        </div>
                        <div class="control-group">
                            {% comment %} <input type="text" class="form-control" id="name" placeholder="Full name"
                                required="required" data-validation-required-message="Please enter your full name" />
                            <p class="help-block text-danger"></p> {% endcomment %}
                            {{ form.full_name }}
                            {{ form.full_name.errors}}

                        </div>
                        <div class="control-group">
                            {% comment %} <input type="email" class="form-control" id="email" placeholder="Email"
                                required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p> {% endcomment %}
                            {{ form.email}}
                            {{ form.email.errors}}

                        </div>
                        <div class="control-group">
                            {% comment %} <input type="password" class="form-control" id="password" placeholder="Password"
                                required="required" data-validation-required-message="Please enter your password" />
                            <p class="help-block text-danger"></p> {% endcomment %}
                            {{ form.password}}
                            {{ form.password.errors}}
                        </div>
                        <div class="control-group">
                            {% comment %} <input type="password" class="form-control" id="password" placeholder="Confirm password"
                                required="required" data-validation-required-message="Please enter your password" />
                            <p class="help-block text-danger"></p>{% endcomment %}
                            {{ form.confirim_password}}
                            {{ form.confirim_password.errors}}

                        </div> 
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    {% endblock %}